<div>
  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="!isLoading">
    <div *ngFor="let user of reqresUsers">
      <div>ID: {{ user.id }}</div>
      <div>Email: {{ user.email }}</div>
      <div>First Name: {{ user.first_name }}</div>
      <div>Last Name: {{ user.last_name }}</div>
      <div>Avatar: {{ user.avatar }}</div>
    </div>

    <div>
      <button [disabled]="isFirstPage" (click)="gotoPrevious()">Previous</button>
      <span>
        <span>Page {{ currentPage }}</span>
        <span *ngIf="!!totalPage"> / {{ totalPage }}</span>
      </span>
      <button [disabled]="isLastPage" (click)="gotoNext()">Next</button>
    </div>
  </div>
</div>
